<div class="chat-message d-flex">
  <div class="image-wrapper mr-3" [routerLink]="'/profile/' + message.sender.id">
    <img style="width:50px;height: 50px;" [src]="message.sender.photoUrl" class="rounded-circle">
  </div>
  <div class="bubble d-flex flex-column">
    <div class="d-flex align-items-baseline">
      <a class="name" [routerLink]="'/profile/' + message.sender.id">
        {{ message.sender.firstName }} {{ message.sender.lastName }}
      </a>
      <span class="timestamp">{{ message.createdAt.toDate() |  date:'medium'}}</span>
    </div>
    <div class="message">{{ message.message }}</div>
  </div>
</div>
