@import '../../../styles/variables';

span {
  color: white;
}

.nav-item {
  color: $light-grey;
}

a {
  color: $light-grey;
  margin-left: 3em;
  padding: 0.3rem 1rem;

  &.active {
    border-bottom: 3px solid $gold;
  }
}
